$accent-color: #ffaf29;
$dark-accent-color: #eb9d27;
$dark: #333;
$very-dark: #0a0a0a;
$dark-blue: #14122c;
$white: #ffffff;
$light-color: #bbb;

$midnight: #252734;
$pale-dark: #333646;

// ? BREAKPOINTS
$md: 768px;
$lg: 1024px;
$xl: 1200px;
